.info-section{
    flex-flow: column wrap;
}

.info-creator{
    margin: 0vw 0vw -5vw -42vw;
    align-items: center;
}

.info-creator2{
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin: 0vw -40vw 0vw 0vw;
}

.git-image{
    width: 7vw;
}

.back-link h2{
    color: rgba(8, 201, 8);
    font-size: 0.8vw;
}

.gamehub-creators h2 {
    color: rgba(8, 201, 8); 
}

.link-style {
    text-decoration: none;
    color: white;
}

.img-logo{
    width: 60px;
}