.home {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.elegantext {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 6vw;
    padding: -2vw 2vw;
    margin-bottom: 5vw;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: 0.5vw;
    text-shadow: 1vw -1vw 0 #767676,
}

.elegantext2 {
    text-align: center;
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: 0.5vw;
    margin: 4vw 0vw;
}

.carouselcontainer{
    width: 90vw;
    overflow: hidden;
    max-height:35vw;
    min-height: 35vw;
    margin-left: 10vw;
}