.navdirection{
    margin-left: 35vw;
    justify-content: space-between;
    font-size: 2vw;
}

.gamehubspace{
    margin: 2vw 2vw;
    padding: 1vw 0vw 0vw 0vw;
}

.gamehubspace img {
    margin: -5vw 0vw -5vw 0vw;
}

.button-position {
    margin: 0vw 15vw 0vw -25vw;
    width: 15vw;
}